<%= form_for @micropost do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content,
      placeholder: t("shared.micropost_form.compose_new") %>
  </div>
  <%= f.submit t("shared.micropost_form.post"), class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture, accept: Settings.PICTURE_ACCEPT %>
  </span>
<% end %>
